@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&family=Playfair+Display&family=Poppins:wght@300;400;600&family=Roboto:ital,wght@1,900&family=Satisfy&family=Schibsted+Grotesk:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: "ArcaMajora"; */

    font-size: 14px;
    line-height: 24px;
}

.title-under-menu {
    text-align: center;
    padding: 150px 0;
}

.under-menu{
    background-image: url(../IMAGE/bgr-undermenu-travel.jpg);
    background-size: 100% 100%;
}

h1.find {
    font-size: 52px;
    color: #fff;
    font-weight: 800;
}

span.discover-find {
    font-size: 21px;
    font-style: normal;
    color: #ffffff;
    margin-top: 5px;
}

/* seclect under-menu */
.select-loca {
    padding: 30px 0;
}
.row.for-loca {
    align-items:center;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0px 0 1px 2px rgb(237 237 237);
    background: #fff;
}

/* keywords */
input.form-control {
    border: none;
    outline: none;
    font-size: 14px;
    box-shadow: none;
}
span#basic-addon1 {
    border: none;
    background: #fff;
}

.input-group>.form-control:focus, .input-group>.form-floating:focus-within, .input-group>.form-select:focus {
    border: none;
    box-shadow: unset;
}

.mb-3 {
    margin-bottom: 0 !important;
} 

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    padding: 3px 0;
}
/* -- */

select.month-select {
    WIDTH: 100%;
    height: 100%;
    border:none;
    padding: 10px 0;
    cursor: pointer;
}

.select-read {
    border-bottom: 1px solid #dc8051;
    color: #333333;
    opacity: 1;

}

h1.name-select {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

button.search-select {
    padding: 15px 60px;
    color: #fff;
    background-color: #dc8051;
    border: none;
    font-weight: 600;
}
button.search-select:hover{
    background-color:#e96422;
    transition: all .7s ;
}

.col.speci {
    text-align: center;
}

.row.for-loca .col {
    padding: 0px 30px 0 0;
}

/* banner */

.all-banner {
    padding: 50px 0;
}
.row.benner-vi {
    width: 80%;
    margin: 0 auto;
    background-color: #fe9268;
    padding: 50px;
}
.row.benner-vi .col{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    
}

h1.tx-bnner {
    font-family: ArcaMajora;
    color: #fff;
    line-height: 1.55;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

span.ud-bnnar {
    color: #fff;
    line-height: 1.7;
    letter-spacing: 1px;
}

/* popular sestinations */

.popular-des-all {
    width: 100%;
    height: 100%;
}

/* .tiltel-popular{
    background-image:url(../IMAGE/bgr-popular.jpg);
    background-size: 100%;
} */

/* bgr-under popular */

.bgr-qua {
    width: 100%;
    height: 100%;
    position: relative;
}
.bgr-under {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1;
}
.bgr-qua .wrapper {
    margin: 0;
    position: relative;
    padding-bottom: 63px;
    z-index: 2;
    width: 100%;
    height: 100%;
}

img.bgr-ne {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* viex all dextina */

a.after-ltr.one {
    transition: .4s linear 0s;
    font-size: 14px;
    line-height: 30px;
    /* color: #595959; */
    text-transform: uppercase;
    font-weight: 600;
    /* position: relative; */
    letter-spacing: 1px;
}
.wrapper{
    margin: 0;
  }
  a,a:visited,a:hover,a:active{
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    color:#000;
    /* font-size:2.5em; */
  }
  a:hover{
      color:#dc8051;
      transition: all .5s ;
  }
  a.after-ltr:after{
    content: "";
    transition:0.5s all ease;
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
    position:absolute;
  }
  a.after-ltr:after{
    bottom:-0.25em;
  }
a.after-ltr:after{
    height:1px;
    width:0;
    background:#DC8051;
    transition: all .5s ;

  }
  a.after-ltr:after{
    left:0;
  }
 a.after-ltr:hover:after{
    width:100%;
  }

  a.after-ltr.one::after{
    content:"\f061";
    font-family: FontAwesome;
    padding-right:10px;
}
/* --end-- */

.tiltel-popular {
    text-align: center;
}

h2.des-tina {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
}
/* five image */
.five-img {
    width: 100%;
    height: 100%;
    padding: 50px 0;
}

img.info-des {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.all-five-img {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    width: 80%;
    margin: 0 auto;

}
.img-items.speciall{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
}

.img-items{
    position: relative;
}

.text-on-img {
    color: #fff;
    position: absolute;
    top: 18px;
    right: 18px;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 11px;
    border-radius: 3px;
    z-index: 2;
    background-color: #f97150;
}

/* popular Tour */

.all-popular-tour {
    padding: 30px 0;
}
/* hover zoom anh*/
.hovereffect {
    overflow: hidden;
    width: 100%;
    height: auto;  
    /* background-color: #303030; */
    margin: 0;
  
}
.hovereffect:hover .img-responsive{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.3s;
    /* opacity: 0.7; */
}

.img-responsive{
    width: 100%;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            transition: all 0.3s;
}
/* ------------------------------- */
.three-img-bestseller {
    padding: 50px 0;
}

.row.popul-tour .col-6.col-md-4{
    height: 100%;
    padding: 0 15px;
}

.all-three-img {
    width: 80%;
    margin: 0 auto;
}
.all-textunder-imgtheplane.tour-stand {
    padding: 20px;
    box-shadow:0px 0px 15px 1px #e4dddd;
    height: 40%;
}
img.img-slider.img-responsive {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.day-and-star {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}


.day-and-star-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.star-and-re {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1.text-under-img-theplane {
    font-size: 18px;
    line-height: 28px;
    color: #333333;
    font-weight: 800;
    padding: 10px 0;
    letter-spacing: 1px;
}

h1.text-under-img-theplane::before{
    content: "\f0e7";
    font-family: FontAwesome;
    padding-right: 10px;
    color: #ffa11a;
}
.colect-number {
    color: #f97150;
    font-weight: 600;
    font-size: 25px;
    line-height: 20px;
}
.error-nuber {
    text-decoration: line-through;
    opacity: .5;
    font-weight: 600 ;
}

.dayy::before{
    content: "\f1da";
    font-family: FontAwesome;
    padding-right: 10px;
    color: #ffa11a;
}

/* .note-plane {
    color: #ffffff;
    background-color: #f97150;
    font-weight: 600;
    padding: 5px;
} */

.ing-ne.hovereffect {
    position: relative;
    height: 60%;
}

span.sell {
    position: absolute;
    bottom: 37%;
    left: 10%;
    padding: 5px 25px;
    color: #ffffff;
    background-color: #f97150;
    font-weight: 600;
    z-index: 2;
}

.dayy {
    padding-bottom: 10px;
}

/* enjoy summner */
.enjoy-summer {
    padding: 30px 0;
}
.all-enjoy-summer{
    width: 80%;
    margin: 0 auto;
}

.all-enjoy-summer .col{
    width: 50%;
    padding: 0;
}


.all-conten-enjoy-left {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: nowrap;
}

.col.lf {
    background-color: #fc845d;
}


h3.ej-sm-del {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    color: #fed7c8;
}

h1.up-to-dsc {
    font-size: 31px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #fff;
}

span.btt {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 24px;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    background: #1e354c;
    color: #fff;
}



img.ej-sm {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.sumlogo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-logo-sm{
    position: relative;
}
.img-logo-sm::after {
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    right: 0;
    top: 9%;
    color: #fff;
    background-color: rgb(220, 128, 81, .5);
    display: none;
    transition: all .6s;

}
.img-logo-sm:hover::after{
    display: block;
    transition: all .6s;
}

p.tenna-hre {
    font-size: 11px;
    color: #fff;
    text-align: center;
}

/* our recommended */

h1.text-under-img-theplane.new-recon::before{
    display: none;
}


.from-recm {
    opacity: .5;
    font-weight: 600;
}

.day-and-star-right.new-fro .error-nuber{
    display: none ;
}

/* video hightlight */
.travel-hightlight {
    padding: 30px 0;
}

.all-travel-hightlight{
    background-image:url(../IMAGE/bgr-video-hightlight.jpg);
    background-size: 100% 100%;
    text-align: center;
}

.conten-hightlight {
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 3rem;
}

h1.hight {
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #ffffff;
}

h3.light {
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: none;
    color: #ff7d5d;
    line-height: 30px;
}

/* customs review */
.all-customs-review {
    padding: 30px 0;
}
.all-customs {
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 3rem;
}
.olw-slider {
    width: 80%;
    margin: 0 auto;
}

.item {
    background-color: #f97150;
}

.img-vte {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 3rem;
}

.ah-ig {
    width: 55px;
}

img.cus-rev {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

i.rev {
    font-size: 16px;
    color: #fff;
}

h2.nane-cus {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}

p.nt-ct {
    font-size: 15px;
    line-height: 25px;
    color: #fff;
    font-style: italic;
}

/* .document-cus::before{
    content: open-quote;
    display: inline-block;
    vertical-align: bottom;
    color: lightgray;
    font-size: 4em;
    top: .2em;
    position: relative;
} */

.open-quote {
    width: 100%;
    height: 100%;
}

.fa-quote-left-alt:before, .fa-quote-left:before {
    content: "\f10d";
    font-size: 40px;
}

/* botton olw */

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #dc8051;
    border: 1px solid #dc8051;
}

/* browse tour */

.all-browse-tour {
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
}
.row.browse {
    width: 80%;
    margin: 0 auto;
    padding: 90px 0;
}

/* .row.browse .col{
    width: 50%;
} */
.title-browse {
    padding: 30px 0;
}

/* .all-four-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
} */
h1.tx-bre {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
}
h1.tx-bre.spe-br {
    opacity: 0;
}

span.tx-a {
    color: #f97150;
}

.four-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

a.link-to-city:hover {
    color:#f97150;
    transition: all .4s;
}

span.tx-a:hover{
    color:#a62100;
    transition: all .4s;
}

/* right browse */

.all-brs-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    padding: 3px 0;
}

input.form-control {
    padding: 25px 10px;
    border-radius: unset;
}

button.btn.btn-outline-secondary {
    background-color: #f97150;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    border-radius: unset;
    border: none;
}
/* icon-mhh */

span.mxh {
    opacity: .4;
}

span.mxh:hover{
    opacity: 1;
}
.all-icon-br {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}


/* recent Article */

.ing-ne.hovereffect.only-img {
    width: 100%;
    height: 100%;
}

  a.travel-- {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #fff;
}
a.link-to-ev {
    color: #fff;
}
.all-tx-on-imgrecent {
    position: absolute;
    bottom: 0;
    padding: 0 30px 30px;
    margin: 0;
    z-index: 2;
}
span.cham {
    color: #fff;
}

/* all zom anh doi overplay */
.gradient-dark {
    background-color: rgba(46, 46, 46, 0.43);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* display: none; */
  }


/* hover zoom anh*/
.hovereffect.only-img{
    overflow: hidden;
    width: 100%;
    height: auto;  
    background-color:rgb(210, 68, 28);
    /* background-color: #303030; */
    margin: 0;
  
}
.hovereffect.only-img:hover .spe-recen.img-responsive{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.3s;
    /* opacity: 0.7; */
    background-color:rgb(210, 68, 28);

}

.spe-recen.img-responsive{
    width: 100%;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            transition: all 0.3s;
}
/* ------------------------------- */

.hovereffect.only-img {
    position: relative;
}

.hovereffect.only-img:hover .gradient-dark{
    background-color: rgb(116, 55, 46, .8);
    transition: all .4s;
}

.hovereffect.only-img:hover .all-tx-on-imgrecent{
    /* transform: translateY(-5px); */
    /* top:100%; */
    margin-top: 3rem;
}

/* end doi overplay */

/* we a features in */

.featured {
    padding: 30px 0;
}

.all.featured {
    width: 80%;
    margin: 0 auto;
}

.txt-featured {
    text-align: center;
    padding-bottom: 50px;
}

h1.we-a {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    font-family: "ArcaMajora";
}
span.uder-we-a {
    font-size: 17px;
    line-height: 37px;
}
.logo-featured {
    display: flex;
    flex-direction: row;
}

img.lg-we-a {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* footer */


.all-row-footer {
    padding: 70px 0;
    background-color: #222222;
}
.row.footer {
    width: 80%;
    margin: 0 auto;
}



h1.cl-us {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    line-height: 28px;
    padding-bottom: 30px;
}

h1.cl-us.sp {
    color: #f97150;
    padding-bottom: 15px;
}
span.number {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
p.pay {
    color: #fff;
    font-size: 15px;
}

.link-cotu span.tx-a{
    color: #fff;
}

.link-cotu span.tx-a:hover{
    color:#f97150;
}


span.number.call-ft::before{
    content:"\f095";
    font-family: FontAwesome;
    padding-right: 15px;
}

/* under-footer */

.under-footer {
    background-color: #181818;
}

.all-under-footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    color: #e1e1e1;
    padding: 35px 0;
}

.fl-us {
    display: flex;
    align-items: baseline;
    gap: 2rem;
    flex-direction: row;
}

.fl-us span.mxh {
    opacity: 1;
    color: #e1e1e1;
}

.fl-us span.mxh:hover {
    color:#dc8051;
    transition: all .4s;
}

/* on top */
.click-ontop {
    position: fixed;
    bottom: 5%;
    left: 95%;
    z-index: 3;
    display: none;
    /* opacity: 0; */
}

.click-ontop.gogo{
    display: block;
    /* opacity: 1; */
    /* transition: all 4.s; */
}

button.click-me {
    background-color: #000;
    width: 40px;
    height: 40px;
    border: none;
}

button.click-me:hover {
    background-color:#dc8051
}


button.click-me:hover i.fa-solid.fa-caret-up {
    color: #fff !important;
}

/* ------------------About Us--------- */

.all-bgr-under-menu{
    background-image:url(../IMAGE/bgr-about-us.jpg) ;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.txt-ab-mn {
    padding: 150px;
}

h1.abs {
    font-size: 54px;
    font-weight: 600;
    font-family: ArcaMajora;
    color: #fff;
}

p.ud-abs {
    font-size: 19px;
    color: #fff;
}

/* amet quam */
.all-Amet-Etiam-Quam {
    padding: 100px 0;
}

.row.amet {
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.row.amet .col{
    width: 50%;
    padding: 0 30px;
}

h2.etiam {
    font-size: 41px;
    letter-spacing: 0px;
    color: #161616;
    text-transform: none;
    font-weight: 600;
    font-family: ArcaMajora;
    padding-bottom: 35px;
}

p.vestibulum {
    color: #918888;
    font-size: 17px;
    line-height: 29px;
    text-align: justify;
}

/* vote % */

/*  */
.list__tech{
    margin-bottom: 30px;
  }
  .tech span{
    font-size: 18px;
    color: #050505;
    font-weight: 700;
  }
  .progressbar{
    background-color: #eee;
    height: 6px;
    border-radius: 2px;
    margin-top: 12px;
  }
  .element__progress{
    position: relative;
    width: 0%;
    height: 6px;
    border-radius: 2px;
    background-color: #161616;
  }
  .percentage{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -40px;
    right: 0;
    text-align: center;
    line-height: 25px;
    background-color: #050505;
    color: #fff;
  }
  .percentage p{
    color: #fff;
    position: relative;
  }
  .percentage p::before{
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 5px solid #050505;
    border-right: 5px solid rgba(255,255,255,.15);
    left: 0px;
    right: 0;
    top: 25px;
    display: block;
  }
  .tech1{
    animation: progress1 3s forwards;
  }
  .tech2{
    animation: progress2 3s forwards;
  }
  .tech3{
    animation: progress3 3s forwards;
  }
  .tech4{
    animation: progress4 3s forwards;
  }
  .tech5{
    animation: progress5 3s forwards;
  }
  .tech6{
    animation: progress6 3s forwards;
  }
  
  @keyframes progress1 {
      from{
  
      }
      to{
          width: 90%;
      }
  }
  @keyframes progress2 {
      from{
  
      }
      to{
          width: 100%;
      }
  }
  @keyframes progress3 {
      from{
  
      }
      to{
          width: 85%;
      }
  }
  @keyframes progress4 {
      from{
  
      }
      to{
          width: 90%;
      }
  }
  /* end vote % */

  /*Pharetra  */
  .Inceptos-in-pharatra {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.Inceptos-left,
.Inceptos-right{
    width: 50%;
}

.Inceptos-right {
    background-color: #f2f2f2;
}

img.pari-abus {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* right */

.all-Inceptos-right {
    padding: 80px;
}


h1.pha-in {
    font-size: 35px;
    letter-spacing: 0px;
    text-transform: none;
    font-weight: 600;
    padding-bottom: 25px;
}

p.under-pha-in {
    color: #918888;
    font-size: 17px;
    line-height: 29px;
    text-align: justify;
    padding: 20px 0;
}
/* 8 li */
.eight-op {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


ul.op-abu {
    list-style: none;
}

li {
    color: #918888;
    font-size: 17px;
    line-height: 29px;
    text-align: justify;
    font-weight: 600;
}

/* li::marker{
    content:"\f058";
    font-family: FontAwesome;
} */


ul.op-abu li::before{
    content:"\f058";
    font-family: FontAwesome;
    padding-right: 10px;
    color:#000;
}

ul.op-abu li:hover{
    color:#000;
    transition: all .8s;
}

/* 2 about services */

.all-bout-services {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.services-left,
.services-right {
    width: 50%;
}
.services-right {
    background-color: #000;
    color: #fff;
}

.ct-ses,
.three-all {
    padding: 80px;
}


button.get-a-que {
    color: #fff;
    background: #000;
    padding: 7px 17px;
    font-weight: 600;
}

.all-services-right {
    padding-bottom: 30px;
}

h1.Ornare {
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 20px;
}

p.under-ornare {
    font-size: 16px;
    line-height: 27px;
    color: #918888;
}

/* 6 img about us */

.all-meet-the-team {
    background-color: #f0f0f0;
    padding: 100px 0;
}

.titel-meet-team {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h3.mt-te-tm {
    font-size: 45px;
    letter-spacing: 0px;
    text-transform: none;
    font-weight: 600;
    font-family: ArcaMajora;
    padding-bottom: 60px;
}
.row.img-abs {
    width: 80%;
    margin: 0 auto;
}

.row.img-abs .col-6.col-md-4 {
    padding: 20px;
}

a.link-num-info {
    font-size: 19px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 1px;
}
p.if-number {
    color: #918888;
}

/* .row.img-abs .col{
    width: 33.3333;
} */
.ig-meet-team {
    width: 100%;
    height: 100%;
}
/* .img-team {
    height: 70%;
}

.tx-team {
    height: 30%;
} */
img.mumber-team {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tx-team {
    text-align: center;
    padding: 30px;
    background-color: #fff;
}

/* over-bgr about us */

.img-team.hovereffect {
    position: relative;
}

.over-lay-ab{
    background-color:rgb(210, 68, 28, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}

.img-team.hovereffect:hover .over-lay-ab{
    display: block;
}


/* --------------Our Services-------------- */

/* under bgr-menu */

.all-bgr-under-menu-or-srs{
    background-image:url(../IMAGE/bgr-our-services.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
}

.all-bgr-under-menu-or-srs .txt-ab-mn{
    padding: 300px 100px;
}

.all-bgr-under-menu-or-srs .abs{
    font-size: 80px;
}

.all-bgr-under-menu-or-srs p.ud-abs {
    color: #918888;
}

/* 3 img left */

.all-our-thr-img {
    width: 100%;
    height: 100%;
}

.text-and-img-our-sr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

img.story {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-our-sr,
.text-our-sr {
    width: 50%;
}

/* right */

.title-or-sr {
    padding: 100px;
}

span.on-h {
    color: #747474;
    font-size: 17px;
    font-style: italic;
    line-height: 27px;
}


h1.under-sp {
    font-size: 41px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 20px 0;
}

p.all-if{
    color: #747474;
    font-size: 17px;
    /* font-style: italic; */
    line-height: 27px;
}
/* doi cho  */
.text-and-img-our-sr:nth-of-type(2n){
    flex-direction: row-reverse;
}
/* end */

/* six ideal */


.all-ideal {
    width: 100%;
    height: 100%;
    background-image:url(../IMAGE/bgr-ideal-our-services.jpg);
    background-size:100% 100% ;
    background-repeat:  no-repeat;
    padding: 150px 0;
}

.row.idl-or-sr {
    width: 80%;
    margin: 0 auto;
}

.row.idl-or-sr .col-6.col-md-4{
    padding: 35px;
}

.icon-id .norsix {
    font-size: 40px;
    line-height: 40px;
    color: #fff;
}

h3.name-id {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: none;
    padding: 15px 0;
}

p.if-idname {
    color: #ededed;
    font-size: 15px;
    line-height: 26px;
}
span.ic-fw{
    font-size: 40px;
    line-height: 40px;
    color: #fff;
}

/* Interested */
.all-Interested{
    padding:100px  0;
}

.txt-ad-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

h1.services-now {
    font-size: 30px;
    font-weight: 600;
}

p.far-away {
    color: #727272;
    font-size: 19px;
    line-height: 29px;
    font-weight: 600;
    padding: 10px 0;
}

button.contact-us {
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #cdcdcd;
    background: #fff;
    font-weight: 600;
}

button.contact-us:hover{
    background-color:#dc8051;
    color:#fff;
    transition: all .5s;
}

/* -----------------Contact Us---------- */

.all-bgr-under-contact-us{
    background-image:url(../IMAGE/bgr-contact-us.jpg);
    background-size: 100% 100% ;
    background-repeat: no-repeat;
}

.txt-ctu {
    padding: 220px 0;
    text-align: center;
}

h1.con-us {
    font-size: 75px;
    color: #fff;
    line-height: 90px;
    font-weight: 600;
}

p.ac-us {
    font-size: 25px;
    line-height: 43px;
    color: #fff;
    font-style: italic;
}

/* 3 contac */
.all-three-st {
    padding: 100px 0;
}


.row.contac-us-re {
    width: 80%;
    margin: 0 auto;
}

.row.contac-us-re .col {
    padding: 0 30px;
}
.all-if-contac-us {
    text-align: center;
}

.icon-ct-us {
    padding: 20px 0;
}

.icon-ct-us .ic-ct {
    color: #454545;
    font-size: 40px;
    min-width: 40px;
    min-height: 40px;
}




h1.phn {
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 600;
}

p.wonderful {
    font-size: 16px;
    line-height: 27px;
    color: #8c8c8c;
    padding:20px 0;
}

a.tt-ct-us {
    font-size: 16px;
    line-height: 27px;
    color: #ff5600;
}

a.tt-ct-us:hover{
    color: #a93900;
}

/* form */

.leave-us {
    background-color: #f3f3f3;
}
.all-leave-us{
    width: 80%;
    margin: 0 auto;
}

.txt-on-form {
    text-align: center;
    padding-bottom: 35px;
}
.op-form{
    width: 70%;
    margin: 0 auto;
    padding: 80px 0;
}

h1.leave-us {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
}

p.your-if {
    font-size: 19px;
    line-height: 32px;
    font-weight: 400;
    font-style: italic;
    color: #727272;
}

textarea#exampleFormControlTextarea1 {
    font-size: 14px;
}

button.btn.btn-primary {
    width: 100%;
    padding: 15px 0;
    border-radius: unset;
    background: #f97150;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

/*--------------------- Gallery -------------------*/


/*--------------------- Tour List -------------------*/


.row.popul-tour.for-tourlist .col-6.col-md-4{
    padding: 20px;
}

.error-nuber.hv-fm {
    text-decoration: unset;
}

.over-tour-list{
    position: absolute;
    background-color: rgba(34, 34, 34, 0.45);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    transition: all 0.5s;

    
}

span.icon-tour {
    position: relative;
    top: 45%;
    left: 46%;
    color: #fff;
    display: none;
    /* transition: all 0.5s; */
    

}

.fa-film:before {
    content: "\f008";
    font-size: 35px;
}

.ing-ne.hovereffect:hover .over-tour-list,
.ing-ne.hovereffect:hover span.icon-tour{
    /* transition: all 0.5s; */
    display: block;
    
}


/*--------------------- Tour Detail -------------------*/


/*--------------------- Destinations -------------------*/

/* content */

.ig-destina .img-items.speciall{
    grid-column-start: 1;
    grid-column-end: 1;
}


/* over-lay img */
.over-lay-des{
    background-color: rgba(34, 34, 34, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.img-items:hover .over-lay-des{
    display: block;
}
/* hover anh chu hien */

.title-des-forhv {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    transition: all ease-in-out .5s;
    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
}

p.hehe {
    font-size: 15px;
    line-height: 26px;
}

a.link-mt {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    color: #f97150;
}
.under-title-des-forhv {
    width: 100%;
    position: absolute;
    display: none;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    /* font-size: .8em; */
    padding: 0px 25px;
}
.img-items:hover .title-des-forhv{
    bottom: 60%;
  
}
.img-items:hover .under-title-des-forhv {
    display: block;
    animation-name: slide-up;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-delay: .1s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes slide-up {
    0% {
        bottom: 0;
        opacity: 0;
    }
    100% {
        bottom: 50%;
        opacity: 1;
    }
}






/*--------------------- Blog Detail  -------------------*/

/* content */
.content-blog-detail {
    background-color: #f7f7f7;
    padding: 60px 0;
}

.all-content-blog-detail {
    width: 80%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: stretch;
}

.blog-detail-left {
    width: 70%;
    padding: 0 20px;
}

.blog-detail-right{
    width: 30%;
    padding: 0 20px;
}

/* left */

.img-and-text-bg {
    padding-bottom: 40px;
}

img.for-blg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-bg-dl {
    position: relative;
}
.sticky {
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 10px 30px;
    background-color: #f97150;
    font-weight: 600;
    z-index: 2;
}

.txt-bg {
    padding: 50px;
    background-color: #fff;
}

.timing-bg {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 10px;
}

/* .timing-bg .on{
    color:#e26748;
} */


.timing-bg a.link-for-glg{
    color:#e26748;
}


.sticky::before{
    content: "\e0b7";
    font-family: FontAwesome;
    padding-right: 10px;
}

span.timing-blg.on::before{
    content: "\f017";
    font-family: FontAwesome;
    padding-right: 10px;
}

span.timing-blg-st.on::before{
    content: "\f15b";
    font-family: FontAwesome;
    padding-right: 10px;
}

span.timing-blg-2st.on::before{
    content: "\f07b";
    font-family: FontAwesome;
    padding-right: 10px;
}

span.timing-blg-3st.on::before{
    content: "\f075";
    font-family: FontAwesome;
    padding-right: 10px;
}

a.name-tip {
    font-size: 38px;
    line-height: 46px;
    color: #000;
    font-weight: 600;
}

p.inf-tip {
    font-size: 15px;
    line-height: 25px;
    color: #8c8c8c;
    padding: 20px 0;
}

button.read-mr-bg {
    background-color: #f97150;
    padding: 10px 17px;
    border: none;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
}

/* overlay */
.overlay-blg {
    background-color: rgb(210, 68, 28, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}

.img-bg-dl.hovereffect:hover .overlay-blg{
    display: block;
}


.under-img1 {
    padding-bottom: 40px;
}


/* right */

.all-blog-detail-right .general{
    padding-bottom: 30px;
}

h1.title-lg-right {
    font-size: 16px;
    line-height: 19px;
    font-family: ArcaMajora;
    font-weight: 600;
    padding-bottom: 30px;
}

.if-text-widget {
    font-size: 15px;
    line-height: 26px;
    color: #8c8c8c;
}


.row.for-right-blg .col-6.col-md-4{
    padding: 5px;
}

span.linkk {
    position: absolute;
    left: 42%;
    top: 38%;
    color: #fff;
    display: none;
    z-index: 2;
    
}

.img-bg-dl.hovereffect:hover span.linkk{
    display: block;
    transition: all .4s;
}

.recent-comment.general  .if-text-widget{
    border-bottom: 1px solid #c7c2c2;
}

a.link-lg-detal {
    font-size: 12px!important;
    text-transform: none;
    font-weight: 500;
    float: left;
    padding: 10px 16px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    /* padding: 10px 20px; */
    background-color: #fff;
    border: 1px solid #cfcfcf;
}